https://github.com/Make-School-Courses/DS-2.1-Machine-Learning/blob/master/Assignments/Home_Work_PCA_Kmeans.ipynb

# K-Means, but Without All the Supervision


Challenge: Use K-Means clustering on the wholesale_customers dataset, and then again on a version of this dataset transformed by PCA.

1) Read in the data from the wholesale_customers_data.csv file contained within the datasets folder.

2) Store the Channel column in a separate variable, and then drop the Region and Channel columns from the dataframe. Channel will act as our labels to tell us what class of customer each datapoint actually is, in case we want to check the accuracy of our clustering.

3) Scale the data, fit a k-means object to it, and then visualize the data and the clustering.

4) Use PCA to transform the data, and then use k-means clustering on it to see if our results are any better.

Challenge:_ Use the confusion matrix function to create a confusion matrix and see how accurate our clustering algorithms were. Which did better--scaled data, or data transformed by PCA?

In [44]:
import pandas as pd
import os

1) Read in the data from the wholesale_customers_data.csv file contained within the datasets folder.

In [45]:
path = os.getcwd()
path

'/Users/ericbotcher/dev/courses/DS2.1'

In [56]:
data=os.listdir(path+"/data")
data

['Advertising.csv',
 '.DS_Store',
 'tennis.txt',
 'Bos.Housing.txt',
 'wholesale.csv',
 'SVM_Dataset1.csv',
 'diabetes.csv',
 'boston_data',
 'SVM_Dataset2.csv',
 'pca_uk.xlsx']

In [57]:
target_file=data[4]
target_file

'wholesale.csv'

In [58]:
target=path+"/data/"+target_file
target

'/Users/ericbotcher/dev/courses/DS2.1/data/wholesale.csv'

In [59]:
new_name = path+"/data/wholesale.csv"
new_name

'/Users/ericbotcher/dev/courses/DS2.1/data/wholesale.csv'

In [60]:
os.rename(target,new_name)

In [61]:
data

['Advertising.csv',
 '.DS_Store',
 'tennis.txt',
 'Bos.Housing.txt',
 'wholesale.csv',
 'SVM_Dataset1.csv',
 'diabetes.csv',
 'boston_data',
 'SVM_Dataset2.csv',
 'pca_uk.xlsx']

In [63]:
df = pd.read_csv("data/wholesale.csv")

In [64]:
df.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

2) Store the Channel column in a separate variable, and then drop the Region and Channel columns from the dataframe. Channel will act as our labels to tell us what class of customer each datapoint actually is, in case we want to check the accuracy of our clustering.

In [68]:
df2 = df['Channel']
df2.head()

0    2
1    2
2    2
3    1
4    2
Name: Channel, dtype: int64

In [78]:
df3 =df.drop(columns=['Channel','Region'])

In [79]:
df3.head()

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0  12669  9656     7561     214              2674        1338
1   7057  9810     9568    1762              3293        1776
2   6353  8808     7684    2405              3516        7844
3  13265  1196     4221    6404               507        1788
4  22615  5410     7198    3915              1777        5185

3) Scale the data, fit a k-means object to it, and then visualize the data and the clustering.

In [ ]:
# Scale The data