In [1]:
import pandas as pd

df=pd.read_csv('data/SVM_Dataset1.csv', index_col=0)

In [2]:
df

         X1        X2  y
0  2.947814  6.626878  1
1  2.530388  7.785050  1
2  3.566991  5.651046  1
3  3.156983  5.467077  1
4  2.582346  4.457777 -1
5  2.155826  6.222343 -1
6  3.273418  3.520687 -1